.nestedWrapper { 
  padding: 90px 0px;
  padding-top: 24px;
  position: relative;
}
.wrapperColOne {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  height: 100vh;
}


/* Responsive Query  */
@media (max-width: 991px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .wrapperColOne { 
    grid-column: 1/-1;
    position: static;
    top: 0;
    height: auto;
  }
  .wrapperColTwo { 
    grid-column: 1/-1;
  }


}