.gridWrapper {
	display: grid;
	margin: 24px 0px;
	gap: 24px;
	grid-template-columns: repeat(3, 1fr);
}

.sidebar {
	grid-column: 1/2;
}

.banner {
	grid-column: 2/4;
}

.latestProduct {
	padding: 60px 0px;
}

.heading {
	margin: 0;
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 56px;
	font-weight: 700;
}
