.productCard {
	width: 100%;
	position: relative;
	background: #fafafa;
	box-shadow: 0 2px 7px #dfdfdf;
}

.badge {
	position: absolute;
	left: 0;
	top: 20px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	background: red;
	color: #fff;
	padding: 3px 10px;
}

.productTumb {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 220px;
	background: #f0f0f0;
}

.productTumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.productDetails {
	padding: 24px;
}

.productCatagory {
	display: block;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ccc;
	margin-bottom: 18px;
}

.productDetails h4 a {
	font-weight: 500;
	display: block;
	margin-bottom: 12px;
	text-transform: uppercase;
	color: #363636;
	text-decoration: none;
	transition: 0.3s;
}

.productDetails h4 a:hover {
	color: #fbb72c;
}

.productDetails p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 18px;
	color: #999;
}

.productBottomDetails {
	overflow: hidden;
	padding-top: 12px;
	border-top: 1px solid #eee;
}

.productBottomDetails div {
	float: left;
	width: 50%;
}

.productPrice {
	font-size: 18px;
	color: #fbb72c;
	font-weight: 600;
	white-space: nowrap;
}

.productPrice small {
	font-size: 80%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
}

.productLinks {
	text-align: right;
}

.productLinks a {
	display: inline-block;
	margin-left: 5px;
	color: #e1e1e1;
	transition: 0.3s;
	font-size: 17px;
}

.productLinks a:hover {
	color: #fbb72c;
}
