

.sidebar { 
  top: 0;
  position: sticky;
  overflow: hidden;
  padding: 24px 0px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.321);
  background-color: rgba(221, 221, 221, 0.54);
}


.accordionHeader { 
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 0px 12px;
  justify-content: space-between;
}

.accordionBody { 
margin-bottom: 12px;
}

.accordionTitle { 
  color: #000;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: capitalize;
}

.accordionIcon { 
  font-size: 18px;
}


/* Accordion Body  */
.productItems li a { 
  margin: 0;
  color: #000;
  padding: 4px 0px;
  font-size: 14px;
  width: 100%;
  display: inline-block;
  padding: 4px 12px;
  text-decoration: none;
}

.productItems li a:hover { 
  background-color: #f4f4f4;

}


/* color Selectors */
.colorsWrapper { 
  gap: 8px;
  display: grid;
  max-width: 120px;
  grid-template-columns: repeat(4,1fr);
}

.colorBox { 
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: #ddd;
    border: 2px solid transparent;
    transition: all 0.3s linear;
}


.colorBox.checkedBox { 
  border: 2px solid #fff;
}

.black { 
  background-color: #000;
}

.blue { 
  background-color: blue;
}

.red { 
  background-color: red;
}

.yellow { 
  background-color: yellow;
}


/* Custom Block  */
.customBlock { 
  margin-top: 12px;
  padding: 12px;
}

.customBlock h2 { 
  color: #000;
  font-size: 22px;
  line-height: 31px;
  font-weight: bold;
  text-transform: capitalize;
}
.customBlock span { 
  color: #000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.customBlock p { 
  color: rgba(0, 0, 0, 0.586);
  font-size: 12px;
  line-height: 18px;
}

/* Tags  */
.tagLists {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 12px;
  align-items: center;
}

.tagLists li {
  margin-right: 6px;
}
.tagLists li a { 
  padding: 4px 8px;
  color: #000;
  font-size: 14px;
  border: 1px solid #000;
  display: inline-block;
  text-decoration: none;
}